.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  background-color: #212529;
  color: white;
  width: 100%;
}

.logo {
  color: #ffc800;
  font-style: italic;
}

.desktop-nav {
  display: none;
  list-style: none;
  width: 60%;
  justify-content: space-around;
}

.desktop-nav li:hover {
  cursor: pointer;
}

@media (min-width: 992px) {
  .desktop-nav {
      display: flex;
  }
  .nav-bar {
      background-color: transparent;
  }
}