

header.masthead {
  /* display: flex; */
  width: 100vh;
  height:15vh;
  text-align: center;
  color: #fff;
  background-image: url(/src/components/header-photo.jpg);
  background-size: cover
}

/*
nav {
  position: absolute;
  display: flex;
  flex-direction: column;
*/


@media (min-width: 481px) {
  header {
    background-color: indigo;
  }
}

@media (min-width: 769px) {
  header {
    background-color: blue;
  }
}

